{% extends "base.html" %}

{% block title %}
S.T.A.R.S. Database
{% endblock %}

{% block content %}

<main>

    <h2>Bem-vindo ao Biohazard Codex</h2>

    <p>
        Banco de dados dedicado ao universo de Resident Evil.
    </p>

    <p>
        Explore informações sobre personagens, armas,
        vilões, jogos e acontecimentos do universo de Resident Evil.
    </p>

    <a class="botao-principal" href="/personagens">
        Acessar personagens
    </a>

</main>

{% endblock %}
